<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Lagerlöf - servicestatus</title>
    <!--link rel="stylesheet" href="main.css"-->
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">

    <!-- Latest compiled and minified JavaScript -->
    <!--script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script-->
    
    <!-- Custom styles for this template -->
    <link href="/assets/navbar.css" rel="stylesheet">
</head>
<body>
  <!-- Fixed navbar -->
  <nav class="navbar navbar-default navbar-fixed-top">
    <div class="container">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="#">Landshypotek Bank</a>
      </div>
      <div id="navbar" class="navbar-collapse collapse">
        <ul class="nav navbar-nav">
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Environment <span class="caret"></span></a>
            <ul class="dropdown-menu">
              <li class="dropdown-header">Environment</li>
              <li role="separator" class="divider"></li>
              <li><a href="/pingprod">Production</a></li>
              <li><a href="/pingqa">QA</a></li>
            </ul>
          </li>
        </ul>
      </div><!--/.nav-collapse -->
    </div>
  </nav>

  <div class="container theme-showcase" role="main">

    <!-- Main jumbotron for a primary marketing message or call to action -->

    <div class="jumbotron">
      <img src="images/logotyp.png" alt="Cannot load images" style="width:240px;height:128px;"></img>
      <h1>Lagerlöf - QA Status check</h1>
      <p>Här kontrollerar vi status på Loan Process samtliga instanser samt samtliga interna/externa tjänster som används inom ramen för Lagerlöf. Detta görs för både miljöerna Q samt P.</p>
    </div>
    <div class="page-header">
        <h1>IT-Stöd och tjänster</h1>
        {{template "version"}}
    </div>
    <div>
      <h4>Hostname: {{.Hostname}}</h4>
    </div>
    <div class="row">
        {{range .Pings}}
        
        {{if .Ping}}
        <div class="col-sm-4">
          <div class="panel panel-success">
            <div class="panel-heading">
              <h3 class="panel-title">{{.Target}} Services</h3>
            </div>
            <div class="panel-body">
              <p>
                <b>Services:</b> {{.Target}}<br>
                {{if eq .Httpcode 418}}
                  <b>Status:</b> {{.Errstring}}<br>
                {{else}}
                  <b>Status:</b> Tjänst tillgänglig<br>
                {{end}}
                <b>Environment:</b> {{.Environment}}<br>
                <b>Response:</b> {{.Httpcode}} OK<br>
                <b>Contact:</b> {{.Contact}}<br>
                <b>Email:</b> {{.Email}}<br>
                <b>Phone:</b> {{.Phone}}
              </p>
            </div>
          </div>
        </div><!-- /.col-sm-4 -->
        {{else}} 
        <div class="col-sm-4">
          {{if eq .Httpcode 401}}
            <div class="panel panel-warning">
          {{else}}
            <div class="panel panel-danger">
          {{end}}
            <div class="panel-heading">
              <h3 class="panel-title">{{.Target}} Services</h3>
            </div>
            <div class="panel-body">
              <p>
                <b>Services:</b> {{.Target}}<br>
                <b>Status:</b> Tjänst ej tillgänglig<br>
                <b>Environment:</b> {{.Environment}}<br>
                <b>Response:</b> {{.Httpcode}} {{.Errstring}}<br>
                <b>Contact:</b> {{.Contact}}<br>
                <b>Email:</b> {{.Email}}<br>
                <b>Phone:</b> {{.Phone}}
                </p>
            </div>
          </div>
        </div><!-- /.col-sm-4 -->
        {{end}}
        
        {{end}}
      </div><!-- row -->
    </div>
  </div>
  <!--{{template "btf"}}-->

  <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script>window.jQuery || document.write('<script src="/assets/js/vendor/jquery.min.js"><\/script>')</script>
    <script src="/assets/js/vendor/jquery.min.js"></script>
    <script src="/dist/js/bootstrap.min.js"></script>
</body>
</html>